.App {
  text-align: center;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container{
  display:flex;
  justify-content: center;
}
.box{
  background-color: #e3e3e3;
  padding:15px;
  position: relative;
  width:20%;
}
.tournamentHeader{
  background-color: white;
  padding:10px;
  border-top: 5px solid #41ba4f;
  border-radius: 3px 3px 0 0
}
.resultsHeader{
  background-color: white;
  border-radius: 3px 3px 0 0
}
.matchBox{
  padding:10px;
  border-bottom: 2px solid #e3e3e3;
}
.teamRow{
  display:flex;
  flex-flow:row wrap;
}
.teamName{
  width:49%;
  text-align: left;
  margin-bottom: 8px;
  margin-top:8px;
  padding-left:5px;
  font-size: 18px;
}
.teamScore{
  width:47%;
  text-align: right;
  margin-bottom: 8px;
  margin-top:8px;
  font-size: 18px;

}
.bold{
  font-weight: bold;
}
.matchWinner{
  border-left: 5px solid #41ba4f;
  border-radius: 3px 0 0 3px
}
.matchLoser{
  border-left: 5px solid red;
  border-radius: 3px 0 0 3px
}
.timeOfMatch{
  margin-bottom: 0;
  color: grey;
}
.sortButton{
  padding:7px;
  background-color: white;
  border-radius: 2px;
  border: 1px solid #b3b3b3;
  float:right;
  margin-top: 15px;
  margin-right: 25px;
}
.searchHeader{
  text-align: center;
}
.searchContainer{
  text-align: center;
}
.searchBar{
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  margin-bottom: 10px;
}
.searchButton{
  padding: 8px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
  margin-bottom: 10px;
}
